@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,400italic,300);
@font-face {
  font-family: 'Raleway';
  src: url('../assets/fonts/raleway/Raleway-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../assets/fonts/raleway/Raleway-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../assets/fonts/raleway/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../assets/fonts/raleway/Raleway-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../assets/fonts/raleway/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../assets/fonts/raleway/Raleway-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Exo';
  src: url('../assets/fonts/exo/Exo-Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

html {
	background-color: #fff;
	font-size: 16px;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: normal;
  line-height: 1.42857;
}

a {
	color: #00bfff;
}

a:hover {
	color: #0098da;
	text-decoration: none;
}
